# --- СИСТЕМНЕ (Це точно не треба) ---
node_modules/
**/node_modules/
.DS_Store
dist/
build/
dist/
.env

# --- БАЗА ДАНИХ ---
# Ігноруємо сам файл бази (він створиться сам)
*.sqlite
*.db
*.sqlite3

# --- КАРТИНКИ ---
# Ігноруємо ВСІ файли в папці uploads...
server/uploads/*

# ...ОКРІМ файлу .gitkeep (це трюк, щоб папка збереглася)
!server/uploads/.gitkeep